.productsListFilter {
    max-width: 310px;
    width: 100%;    
    background: #FBFBFB;
    overflow: hidden;
    height: 100%;
}

.productsLF__wrapper {
    padding: 15px;
}

.productsLF__filter-list {
    list-style: none;
    margin: 10px 0;
}

.productsLF__filter-title {
    font-family: var(--font-family-ceraPro);
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
    margin: 10px 0;
}
.productsLF__filter-item {
    margin-left: 10px;
}
.productsLF__filter-link {
    font-family: var(--font-family-ceraPro);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #3D3D3D;
    transition: color 0.1s ease-in-out;    
    cursor: pointer;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
}
.productsLF__filter-link:hover {
    color: #46A358;
}
.productsLF__filter-link_active {
    color: #46A358;
    font-weight: 700;
}
.productsLF__ad {
    display: flex;
    justify-self: center;
    align-items: center;
}

/* Ad */
.ad {
    margin: -10px;
    margin-top: 20px;
}
.ad__link {
    position: relative;
    text-decoration: none;
    width: 100%;
    height: 470px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media screen and (max-width: 1250px) {
    .productsListFilter {
        max-width: 290px;
    }
}


@media screen and (max-width: 950px) {
    .productsListFilter {
        display: none;
    }
}