.productsPR__price-num,
.productsPR__btn,
.productsPR__range {
    margin-left: 10px;
    display: block;
}

.productsPR__price-num {
    font-family: var(--font-family-ceraPro);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3D3D3D;
    margin-top: 5px;
}

.productsPR__nums {
    font-weight: 700;
    color: #46A358;
}

.productsPR__btn {
    background: #46A358;
    border-radius: 6px;

    font-family: var(--font-family-ceraPro);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

    border: none;
    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.productsPR__btn:hover {
    background:  #296935;
}