.shortblog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}
.shortblog__title {
  font-family: var(--font-family-ceraPro);
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
  text-align: center;
  color: #3d3d3d;

}
.shortblog__subtitle {
  font-family: var(--font-family-ceraPro);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #727272;
  margin-top: 15px;
}
.shortblog__list {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}
.shortblog__item {
    margin-top: 35px;
    background: #FBFBFB;
    max-width: 268px;
    margin: 35px 10px 0 10px;
}
.shortblog__post-preview {
    overflow: hidden;
    width: 100%;
    height: 200px;
    background-image: url('./images/previews/preview1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.shortblog__post {
    padding: 10px;
}
.shortblog__post-timeinfo {
  font-family: var(--font-family-ceraPro);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #46a358;
}
.shortblog__post-title {
  font-family: var(--font-family-ceraPro);
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #3d3d3d;
  margin-top: 5px;
}
.shortblog__post-description {
  margin-top: 5px;
  font-family: var(--font-family-ceraPro);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #727272;
}
.shortblog__post-link {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.shortblog__post-link-text {
  font-family: var(--font-family-ceraPro);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
}
.shortblog__post-link-arrow {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 600px) {
    .shortblog__list {
        flex-direction: column;
    }
}