.plantcare {
  position: relative;
  z-index: 5;
}
.plantcare__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.plantcare__item {
  max-width: 550px;
  margin: 40px 0;
}
.plantcare__title {
  font-family: var(--font-family-ceraPro);
  font-weight: 700;
  font-size: 30px;
  line-height: 26px;
  color: #3D3D3D;
  margin: 15px 0;
}
.plantcare__text {
  font-family: var(--font-family-ceraPro);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #727272;
  margin: 10px 0;
}
.plantcare__video {
  width: 550px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: relative;
}
.plantcare__item:nth-child(2n) {
  align-self: flex-end;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}