* {margin: 0; padding: 0; box-sizing: border-box;}

@font-face {
  font-family: "CeraPro";
  src: url('assets/fonts/CeraPro-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: "CeraPro";
  src: url('assets/fonts/CeraPro-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "CeraPro";
  src: url('assets/fonts/CeraPro-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "CeraPro";
  src: url('assets/fonts/CeraPro-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "CeraPro";
  src: url('assets/fonts/CeraPro-Black.ttf');
  font-weight: 900;
}

/* Нужно поменять шривт Cera Pro */
:root {
    --font-family-ceraPro: "CeraPro";
}
