.orderInfo__title {
  font-family: var(--font-family-ceraPro);
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
  color: #3D3D3D;
  margin: 10px 0;
}
.orderInfo__text {
  font-family: var(--font-family-ceraPro);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
  margin: 20px 0;
}
